{% extends "_templates/global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {% trans "Parte C" %}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div class="wrapper instructions">
        <p align ="justify">
            En esta sección queremos conocer tu nivel de confianza hacia algunos grupos e instituciones. 
            Por favor, responde lo más honestamente posible de acuerdo a lo que piensas. 
            Recuerda que tus respuestas son completamente anónimas y confidenciales.
        </p>
        <br>
        <p align = "justify" >
            En esta pregunta queremos conocer <b>tu nivel de confianza</b> en las personas que viven en Bogotá. 
            <ul>
                <li>Usaremos como punto de referencia tu nivel de confianza en los bogotanos.
                    <span class="icocor1" style="font-size: 36px;">&#129490;</span></li><br>
                <li>Te listaremos grupos, y queremos que nos digas si confías en ese grupo igual que en un Bogotano promedio
                    (no hay diferencias en tu confianza), si confías más, o si confías menos en ese grupo que en el Bogotano
                    promedio. </li><br>
                <li>Te pedimos que uses una escala de -5 a +5. 
                    Si confías igual en ese grupo que en un Bogotano promedio, utiliza el 0 para indicar que no hay diferencias. </li><br>
                <li>Si te fías <b>más</b> de ese grupo, usa valores <b>positivos</b> (entre +1 y +5, 
                    donde +5 significa que confías en ese grupo muchísimo más, +1 sólo un poco más). </li><br>    
                <li>Si te fías <b>menos</b> de ese grupo, usa valores negativos 
                    (entre -1 y -5, donde -5 significa que confías en ese grupo muchísimo menos, -1 sólo un poco menos).  </li>    
    
                </ul>
        </p>
    </div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th rowspan="4">Miembros de los siguientes grupos</th>
                <th colspan="5" class="confianza-header">Confianza Menos</th>
                <th class="confianza-header">Confianza</th>
                <th colspan="5" class="confianza-header">Confianza Más</th>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td class="icon-cell"><span class="icocor1">&#129490;</span></td>
                <td colspan="5"></td>
            </tr>
            <tr class="number-row">
                <td class="number-cell">-5</td>
                <td class="number-cell">-4</td>
                <td class="number-cell">-3</td>
                <td class="number-cell">-2</td>
                <td class="number-cell">-1</td>
                <td class="number-cell">0</td>
                <td class="number-cell">+1</td>
                <td class="number-cell">+2</td>
                <td class="number-cell">+3</td>
                <td class="number-cell">+4</td>
                <td class="number-cell">+5</td>
            </tr>
        </thead>
        <tbody>
                  <tr>
                    <td>Tu familia</td>
                    {% for choice in form.c1_familia %}
                        <td class="radio-cell">{% choice %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Tu barrio o tu comunidad</td>
                    {% for choice in form.c2_barrio %}
                        <td class="radio-cell">{% choice %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Policía Nacional</td>
                    {% for choice in form.c3_policia %}
                        <td class="radio-cell">{% choice %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Jueces y fiscales</td>
                    {% for choice in form.c4_jueces %}
                        <td class="radio-cell">{% choice %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Caleños viviendo en Bogotá</td>
                    {% for choice in form.c5_caleños %}
                        <td class="radio-cell">{% choice %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Españoles viviendo en Bogotá</td>
                    {% for choice in form.c6_españoles %}
                        <td class="radio-cell">{% choice %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Venezolanos viviendo en Bogotá</td>
                    {% for choice in form.c7_venezolanos %}
                        <td class="radio-cell">{% choice %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Chilenos viviendo en Bogotá</td>
                    {% for choice in form.c8_chilenos %}
                        <td class="radio-cell">{% choice %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Bancos</td>
                    {% for choice in form.c9_bancos %}
                        <td class="radio-cell">{% choice %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Presidencia de Colombia</td>
                    {% for choice in form.c10_presidente %}
                        <td class="radio-cell">{% choice %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Tu iglesia</td>
                    {% for choice in form.c11_iglesia %}
                        <td class="radio-cell">{% choice %}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <br>
</div>

{% next_button %}
{% endblock %}



            
            
            
            